/*
In "actual" mode, we're not in an a-frame scene, so we hack a-frame elements
to look like regular DIVs and such.
*/
a-entity.context {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
a-box.button {
  display: block;
  filter: brightness(90%);
  width: 50%;
  height: 33%;
  float: left;
  border: 4px solid #000;
}
svg.icon {
  width: 100%;
  height: 100%;
}
.shape-button,
.cylinder-button,
.cone-button {
  background-color: red;
}
.search-button,
.duplicate-button {
  background-color: mediumseagreen;
}
.file-button,
.delete-button {
  background-color: purple;
}
.rooms-button,
.add-button {
  background-color: darkorange;
}
.sky-button,
.subtract-button {
  background-color: royalblue;
}
.settings-button,
.intersect-button,
.main-button {
  background-color: dimgray;
}

.sphere-button,
.box-button,
.torus-button {
  background-color: maroon;
}

.shape-display {
  width: 114px;
  height: 134px;
  display: block;
  margin: auto;
  padding: 0;
}

.button-display {
  color: white;
  text-align: center;
  height: 100%;
  padding-top: 20px;
}

img.button-icon {
  margin: auto;
  height: 65%;
}

.button-text {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 10px;
  color: white;
  text-align: center;
}
